<% if current_user == @group.admin %>
<div class='clearfix admin_actions'>
  <span>
    <b>Invite Url:</b>
    <%= link_to new_user_url(:group_code => @group.code), new_user_url(:group_code => @group.code) %>
  </span>
  <%= link_to("Delete this group", group_path(@group), :method => :delete, :confirm => "Are you sure you want to delete this group?", :class => 'button righted') %>
</div>
<% end %>

<div class="group_details clearfix">
   <%= render :partial => "groups/pay_suggestions", :locals => {:group_user => @group_user, :full_view => true} %>
   <% unless @group.description.blank? %>
     <div>
      <strong>Group Info:</strong> <%= @group.description %>
     </div>
   <% end %>
  <table id="group_details_table" class='group_status'>
     <tr>
       <th> Group members </th>
       <th> Credit </th>
     </tr>
    <% @group.group_users.each do |group_user| %>
      <tr>
        <td> <%= link_to group_user.user.display_name, user_path(group_user.user) %> </td>
        <td> Rs. <%= group_user.balance %> </td>
      </tr>
    <% end %>
  </table>
</div>