<% @title = "Your groups" %>
<% @page_action = link_to("Create new group", new_group_path) %>

<div id="groups">
  <% unless @groups.count > 0 %>
    You have no groups yet
  <% else %>
    <div>
      <% @groups.each do |group| %>
        <div id="group_<%= group.id %>">
          <h2><%= link_to group.name, group_path(group) %> </h2>
          <%= link_to "Add new common item", new_group_common_item_path(group), :class => "button", :style => "float:right" %>
          <h3>Members and their balances</h3>
          <dl>
            <% group.group_users.each do |group_user| %>
              <dt> <%= group_user.user.name %> </dt>
              <dd> Rs. <%= group_user.balance %> </dd>
            <% end %>
          </dl>
        </div>
        <hr>
      <% end %>
    </div>
  <% end %>
</div>
