<% @title = "My Groups" %>
<% @page_action = link_to("Create new group", new_group_path) %>

<div id="groups">
  <% unless @groups.count > 0 %>
    You have no groups yet
  <% else %>
    <div>
      <% @groups.each do |group| %>
        <div id="group_<%= group.id %>" class="group">
          <div class='group_header clearfix'>
            <h2><%= link_to group.name, group_path(group) %> </h2>
            <%= link_to "Add new common item", new_group_common_item_path(group), :class => "button righted" %>
          </div>
          <div class='group_body clearfix'>
          <%= render :partial => "groups/pay_suggestions", :locals => {:group_user => group.get_group_user(current_user), :full_view => false} %>
          <table class='group_status'>
            <tr class="head">
              <th> Group members </th>
              <th> Credit </th>
            </tr>
            <% group.group_users.each do |group_user| %>
              <tr style= "background-color: <%= '#FFFF99' if group_user.user == current_user %>" >
                <td> <%= group_user.user.name %> </td>
                <td> Rs. <%= group_user.balance %> </td>
              </tr>
            <% end %>
          </table>
          </div>
        </div>
      <% end %>
      <%= link_to "Create new group", new_group_path, :class => 'button righted' %>
    </div>
  <% end %>
</div>
