<div id="transaction_type_0" >
  <div class="group_users_list">
    <% @users.each_with_index do |user, i| %>
      <span class="group_user">
        <input id="check_box_<%= i %>" type=checkbox name="user_ids[]" value="<%= user.id %>" <%= "CHECKED" if user == current_user %>/>
        <%= user.display_name.humanize %>
      </span>
    <% end %>
    <br>
    <a id="select" href="#" onclick="CommonItem.selectAll(true);">Check All</a>
    <a id="unselect" style="display:none" href="#" onclick="CommonItem.selectAll(false);">Uncheck All</a>
  </div>
</div>
<div id="transaction_type_1" class="clearfix">
  <% @group.users.each do |user| %>
    <span class="user_with_box">
      <span><%= user.display_name.humanize %></span><br>
      <%= text_field :item_cost, user.id, :size => 5 %>
    </span>
  <% end %>
</div>


<script>
  <% @group.users.each_with_index do |u, i| %>
    CommonItem.elements[<%= i %>] = $('item_cost_<%= u.id %>')
  <% end %>
  CommonItem.observeAll();
</script>

