<div id="overview">
  <span id="overview_net_balance">
    Your net balance is : Rs <%= current_user.net_balance %>
  </span>
   <br> <br>

  <div id="overview_groups">
    <% unless current_user.groups.count > 0 %>
      You have no groups yet
    <% else %>
      <b>Groups:</b>
      <ul>
      <% current_user.groups.each do |group| %>
        <li><%= link_to truncate(group.name, :length => 15), group_path(group) %> : Rs.<%= group.get_group_user(current_user).balance %> </li>
      <% end %>
      </ul>
    <% end %>
  </div>

<br><br><br>
  
  <%= link_to "My Items", root_path %><br>
  <%= link_to "My Groups", groups_path %><br>
  <%= link_to "Create new group", new_group_path %>

</div>

<style>
ul{
  margin-top: 0px;
  padding: 0 0 0 10px;
}
</style>
